<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springexample.mybatis.mapper.PersonMapper">

    <select id="getPersonList" parameterType="map"
            resultType="com.springexample.persistence.domain.Person">

        select
        first_name as firstName,
        last_name as lastName

        from person



    </select>


    <select id="getForTable" parameterType="map"
            resultType="com.springexample.persistence.dto.PersonDTO">

        WITH Persons AS (

        select
        p.first_name as firstName,
        p.last_name as lastName
        from person P

        ),
        PersonsCount AS (
        SELECT *, ROW_NUMBER () OVER (
        <choose>
            <when test="pageCriteria.getSortOnColumn() == 1">ORDER BY firstName</when>
            <when test="pageCriteria.getSortOnColumn() == 2">ORDER BY lastName</when>

            <otherwise>
                ORDER BY firstName
            </otherwise>
        </choose>

        <choose>
            <when test="pageCriteria.ascending">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        ) as RowNumber FROM Persons
        )
        SELECT *, (select COUNT(*) from Persons) as total
        FROM PersonsCount
        WHERE RowNumber &gt; #{pageCriteria.offset}
        AND RowNumber &lt;= #{pageCriteria.upperRowBound}
        ORDER by RowNumber


    </select>


</mapper>